@{
    ViewData["Title"] = "Get to Know Joel";
}
<div class="text-center">
<h1>Get to Know Joel</h1>

<p>
    Joel Hilton is the younger brother of the legendary Spencer Hilton (2 years, 2 months, and 2 days younger in fact) and is also very into film. So into film, in fact, that he minored in Film Studies at BYU, contracts as a movie reviewer for ClearPlay, and does a weekly podcast about films & pop culture called <a href="https://baconsale.com/">Baconsale</a>. In addition to reviewing movies, Joel is also a comedian and regularly performs at <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>.
</p>
    <a href="https://baconsale.com/"><img src="~/img/baconsalekate.jpg" height="500" /></a>
</div>